<%= form_with(model: fabric, local: true) do |form| %>
  <% if fabric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fabric.errors.count, "error") %> prohibited this fabric from being saved:</h2>

      <ul>
        <% fabric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :reference %>
    <%= form.text_field :reference %>
  </div>

  <div class="field">
    <%= form.label :observation %>
    <%= form.text_area :observation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
